<div class="clients-wrap" id="Clients">
  <div class="container">
    <div class="clients">
      <div class="text">
        <h2 class="text-title"><span>Clients</span> Said</h2>
        <p class="text-subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga
          provident Libero.
        </p>
      </div>
      <div class="slider">
      <div class="clients-testimonial">
        <div class="clients-testimonial__text">
          <div class="clients-testimonial__photo"><img class="clients-testimonial__image" src="/images/Team/6f6d9f58-64d3-4e89-a.jpg" alt="" /></div>
          <p class="clients-testimonial__quote">
            “This was my first time renting from car rental. The service rep
            help me find the best rental to suit my needs. I will definitely
            rent with this company again”
          </p>
          <p class="clients-testimonial__info"><b>Kita Say</b>, <em>HK Director</em></p>
        </div>
      </div>
        <div class="clients-testimonial">
          
          <div class="clients-testimonial__text">
            <div class="clients-testimonial__photo"><img class="clients-testimonial__image" src="/images/Team/9bd25c37-8640-459c-b.jpg" alt="" /></div>
            <p class="clients-testimonial__quote">
              “This was my first time renting from car rental. The service rep
              help me find the best rental to suit my needs. I will definitely
              rent with this company again”
            </p>
            <p class="clients-testimonial__info"><b>Kita Say</b>, <em>HK Director</em></p>
          </div>
        </div>
          <div class="clients-testimonial">
           
            <div class="clients-testimonial__text">
              <div class="clients-testimonial__photo"><img class="clients-testimonial__image" src="/images/Team/416851df-aab4-4afc-8.jpg" alt="" /></div>
              <p class="clients-testimonial__quote">
                “This was my first time renting from car rental. The service rep
                help me find the best rental to suit my needs. I will definitely
                rent with this company again”
              </p>
              <p class="clients-testimonial__info"><b>Kita Say</b>, <em>HK Director</em></p>
            </div>
          <div class="clients-testimonial__dot">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
          </div>
          </div>
    </div>
  </div>
</div>
