<header class="header-wrap" id="Home">
  <div class="container">
    <div class="header">
      <div class="header-navbar">
        <div class="header-navbar__sign">
          <h2 class="header-navbar__logo"><span>S</span>mart</h2>
        </div>
        <div class="header-navbar__menu">
          <a class="header-navbar__links" href="#Home">Home</a
          ><a class="header-navbar__links" href="#Process">Working Process</a
          ><a class="header-navbar__links" href="#Works">Featured Works</a>
          <a class="header-navbar__links" href="#Services">Services</a>
          <a class="header-navbar__links" href="#Team">Team & Skills</a>
          <a class="header-navbar__links" href="#Clients">Clients Said</a>
          <a class="header-navbar__links" href="#Contact">Contact Us</a>
        </div>
        <button class="header-navbar__btn">
          <span></span><span></span><span></span>
        </button>
      </div>
      <div class="text">
        <div class="text-title">
          <h1><span> Smart</span> Agency Landign Page</h1>
        </div>
        <div class="text-subtitle">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores,
            fuga provident. Libero magni quibusdam labore ad iste saepe hic,
            maxime qui ipsum tempore beatae, volu tomi ptates doloremque rerum
            aspernatur dolorum at!
          </p>
        </div>
      </div>
      <div class="header-button">
        <button class="header-button__btn">Send Message &rarr;</button>
      </div>
      <div class="form-container">
        <div class="header-form">
          <h4 class="header-form__text"><span>Send</span> A Message</h4>
          <input
            class="header-form__message"
            type="text"
            name="Name"
            id=""
            placeholder="Your Name"
          />
          <input
            class="header-form__message"
            type="email"
            name="Email"
            id=""
            placeholder="Your Email"
          />
          <textarea
            class="header-form__message"
            name="Message"
            id="#"
            style="resize: none"
            cols="30"
            rows="5"
            placeholder="Your Message"
          ></textarea>
          <button class="header-form__btn">Send Message &rarr;</button>
        </div>
      </div>
    </div>
  </div>
</header>
