<div class="services-wrap" id="Services">
  <div class="container">
    <div class="services">
      <div class="text">
        <h2 class="text-title"><span>Services</span> We Provide</h2>
        <p class="text-subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga
          provident Libero.
        </p>
      </div>
      <div class="services-tabs">
        <div class="services-tabs__buttons">
          <button class="services-tabs__btn active" data-tabs="#tab-1"></button>
          <button class="services-tabs__btn" data-tabs="#tab-2"></button>
          <button class="services-tabs__btn" data-tabs="#tab-3"></button>
          <button class="services-tabs__btn" data-tabs="#tab-4"></button>
        </div>
        <div class="services-tabs__content">
          <div class="services-tabs__items active" id="tab-1">
            <h2 class="services-tabs__title">Modern</h2>
            <p class="services-tabs__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
              earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni
              rem optio distinctio illum consequuntur delectus nulla illo
              aperiam itaque cumque. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
              earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni
              rem optio distinctio illum consequuntur delectus nulla illo
              aperiam itaque cumque. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.
            </p>
            <button class="services-tabs__key buttons">+ Know More</button>
          </div>
          <div class="services-tabs__items" id="tab-2">
            <h2 class="services-tabs__title">Bonorum et Malorum</h2>
            <p class="services-tabs__text">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
            <button class="services-tabs__key buttons">+ Know More</button>
          </div>
          <div class="services-tabs__items" id="tab-3">
            <h2 class="services-tabs__title">Modern</h2>
            <p class="services-tabs__text">
              "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
              est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
              velit, sed quia non numquam eius modi tempora incidunt ut labore
              et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
              veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur?"
            </p>
            <button class="services-tabs__key buttons">+ Know More</button>
          </div>
          <div class="services-tabs__items" id="tab-4">
            <h2 class="services-tabs__title">Bonorum et Malorum</h2>
            <p class="services-tabs__text">
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences that are
              extremely painful. Nor again is there anyone who loves or pursues
              or desires to obtain pain of itself, because it is pain, but
              because occasionally circumstances occur in which toil and pain
              can procure him some great pleasure. To take a trivial example,
              which of us ever undertakes laborious physical exercise, except to
              obtain some advantage from it?"
            </p>
            <button class="services-tabs__key buttons">+ Know More</button>
          </div>
        </div>
        <div class="services-tabs__image">
          <img class="services-tabs__img" src="/images/Services/watch.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
