<div class="social-wrap">
    <div class="container">
        <div class="social">
            <div class="social-network"><img class="social-network__images" src="/images/Clients/LinkedIn.png" alt="LincedIn"></div>
            <div class="social-network"><img class="social-network__images" src="/images/Clients/dribbble.png" alt="Dribbble"></div>
            <div class="social-network"><img class="social-network__images" src="/images/Clients/envato.png" alt="Envato"></div>
            <div class="social-network"><img class="social-network__images" src="/images/Clients/LinkedIn.png" alt="LincedIn"></div>
            <div class="social-network"><img class="social-network__images" src="/images/Clients/dribbble.png" alt="Dribbble"></div>
            <div class="social-network"><img class="social-network__images" src="/images/Clients/envato.png" alt="Envato"></div>
        </div>
    </div>
</div>