<div class="team-wrap" id="Team">
  <div class="container">
    <div class="team">
      <div class="text">
        <h2 class="text-title"><span>Team</span> Chinen & Skills</h2>
        <p class="text-subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga
          provident Libero.
        </p>
      </div>
      <div class="team-info">
        <div class="team-info__wrap photo1">
          <div class="team-info__hidden">
            <p class="team-info__progress">
              UI/UX Design
              <span class="progress-line"
                ><span style="width: 85%"></span
              ></span>
            </p>
            <p class="team-info__progress">
              English
              <span class="progress-line"
                ><span style="width: 95%"></span
              ></span>
            </p>
            <p class="team-info__progress">
              Communication
              <span class="progress-line"
                ><span style="width: 90%"></span
              ></span>
            </p>
          </div>
          <div class="team-info__personality">
            <h3 class="team-info__name">Bedi Manos</h3>
            <p class="team-info__position">UI/UX Parena</p>
          </div>
        </div>
        <div class="team-info__wrap photo2">
          <div class="team-info__hidden">
            <p class="team-info__progress">
              UI/UX Design
              <span class="progress-line"
                ><span style="width: 70%"></span
              ></span>
            </p>
            <p class="team-info__progress">
              English
              <span class="progress-line"
                ><span style="width: 75%"></span
              ></span>
            </p>
            <p class="team-info__progress">
              Communication
              <span class="progress-line"
                ><span style="width: 70%"></span
              ></span>
            </p>
          </div>
          <div class="team-info__personality">
            <h3 class="team-info__name">Emma Ovilla</h3>
            <p class="team-info__position">UI/UX Designer</p>
          </div>
        </div>
        <div class="team-info__wrap photo3">
          <div class="team-info__hidden">
            <p class="team-info__progress">
              UI/UX Design
              <span class="progress-line"
                ><span style="width: 80%"></span
              ></span>
            </p>
            <p class="team-info__progress">
              English
              <span class="progress-line"
                ><span style="width: 55%"></span
              ></span>
            </p>
            <p class="team-info__progress">
              Communication
              <span class="progress-line"
                ><span style="width: 75%"></span
              ></span>
            </p>
          </div>
          <div class="team-info__personality">
            <h3 class="team-info__name">Ashly Tompson</h3>
            <p class="team-info__position">UI/UX Designer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
