<div class="works-wrap" id="Works">
  <div class="container">
    <div class="works">
      <div class="text">
        <h2 class="text-title"><span>Featured</span> Works</h2>
        <p class="text-subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga
          provident Libero.
        </p>
      </div>
      <div class="works-items">
        <div class="works-items__images">
          <img
            class="works-items__img"
            src="/images/Works/works 1.png"
            alt="img Works 1"
          />
        </div>
        <div class="works-items__images">
          <img
            class="works-items__img"
            src="/images/Works/works 2.png"
            alt="img Works 2"
          />
        </div>
        <div class="works-items__images">
          <img
            class="works-items__img"
            src="/images/Works/works 3.png"
            alt="img Works 3"
          />
        </div>
        <div class="works-items__images">
          <img
            class="works-items__img"
            src="/images/Works/works 4.png"
            alt="img Works 4"
          />
        </div>
        <div class="works-items__images">
          <img
            class="works-items__img"
            src="/images/Works/works 5.png"
            alt="img Works 5"
          />
        </div>
        <div class="works-items__images">
          <img
            class="works-items__img"
            src="/images/Works/works 6.png"
            alt="img Works 6"
          />
        </div>
        <div class="works-items__images">
          <img
            class="works-items__img"
            src="/images/Works/works 7.png"
            alt="img Works 7"
          />
        </div>
        <div class="works-items__images">
          <img
            class="works-items__img"
            src="/images/Works/Works 8.png"
            alt="img Works 8"
          />
        </div>
        <div class="works-items__images">
          <img
            class="works-items__img"
            src="/images/Works/works 9.png"
            alt="img Works 9"
          />
        </div>
      </div>
    </div>
  </div>
</div>
